SalesApp/.vs/
SalesApp/SalesApp.DataAccess.Tests.Unit/bin
SalesApp/SalesApp.DataAccess.Tests.Unit/obj
SalesApp/SalesApp.DataAccess/bin
SalesApp/SalesApp.DataAccess/obj

SalesApp/SalesApp.Model/bin
SalesApp/SalesApp.Model/obj
SalesApp/SalesApp.Model.Tests.Unit/bin
SalesApp/SalesApp.Model.Tests.Unit/obj

SalesApp/SalesApp.Services/bin
SalesApp/SalesApp.Services/obj
SalesApp/SalesApp.Services.Tests.Unit/bin
SalesApp/SalesApp.Services.Tests.Unit/obj
SalesApp/SalesApp.Services.Tests.Integration/bin
SalesApp/SalesApp.Services.Tests.Integration/obj

SalesApp/SalesApp.Web/bin
SalesApp/SalesApp.Web/obj
SalesApp/SalesApp.Web.Tests.Unit/bin
SalesApp/SalesApp.Web.Tests.Unit/obj
SalesApp/SalesApp.Web.Tests.Integration/bin
SalesApp/SalesApp.Web.Tests.Integration/obj
SalesApp/SalesApp.Web.Tests.UI/bin
SalesApp/SalesApp.Web.Tests.UI/obj